@import "github-light";
@import "normalize";

$white: #ffffff;
$black: #181818;
$color1: #C5E99B;
$color2: #8FBC94;
$color3: #548687;
$color4: #56445D;

*, 
*:before, 
*:after {
	box-sizing: border-box;
}

html {
	background: $color1;
}

a {
	color: $color3;
	text-decoration: none;
}

.page-header {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	color: $color4;
	text-align: center;
}

.project-name {
	margin: 0;
}

.project-logo {
	display: inline-block;
	vertical-align: middle;
	max-width: 50px;
	max-height: 50px;
	margin-right: 25px;
	
	svg {
		width: 100% !important;
		height: 100% !important;
	}
}

.project-title {
	display: inline-block;
	vertical-align: middle;
}

.project-description {
	max-width: 190px;
	margin-right: auto;
	margin-left: auto;
	text-align: right;
}

.project-tagline {
	margin-top: 2em;
	border-top: 2px solid $color3;
	padding-top: 0.5em;
	font-size: 0.875em;
	font-weight: 400;
}

.btn_github {
	position: fixed;
	z-index: 42;
	top: 1em;
	left: -6em;
	font-size: 0.5em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
	transform: rotate(-90deg) translateX(-50%);
	
	span {
		display: inline-block;
		vertical-align: middle;
		
		&:first-child {
			margin-right: 0.5em;
		}
	}
}

.btn_download {
	display: inline-block;
	margin-top: 1em;
	margin-right: 0.25em;
	margin-left: 0.25em;
	padding: 0.5em;
	border-radius: 3px;
	background: $color4;
	color: $color2;
	font-size: 0.75em;
}

/*
 * 
 */

.main-content {
	position: relative;
	top: 100vh;
	background: $color4;
	color: $color1;
	
	.js & {
		margin-bottom: 7em;
	}
	
	a {
		color: $color2;
		font-weight: 300;
	}
}

.main-content-inner {
	width: 100%;
	max-width: 1440px;
	margin: auto;
	padding: 0.1em 2em;
}

pre {
	display: block;
	padding: 1em;
	background: $white;
	color: $color4;
}

.site-footer {
	margin-top: 1em;
	
	.js & {
		z-index: -1;
		position: fixed;
		bottom: 1.5em;
		left: 0;
		width: 100%;
		color: $color4;
		text-align: center;
		line-height: 1.5;
		visibility: hidden;
		
		a {
			display: block;
			color: $color3;
		}
	}
	
	.footer-show & {
		visibility: visible;
	}
}

@media (min-width: 768px) {
	
	.project-logo {
		max-width: 75px;
		max-height: 75px;
	}
	
	.project-title {
		font-size: 1.75em;
	}
	
	.project-description {
		max-width: 290px;
	}
	
	.main-content {
		
		.js & {
			margin-bottom: 5em;
		}
	}
	
	.site-footer {

		.js & {
			
			a {
				display: inline-block;
			}
		}
	}
}

@media (min-width: 1280px) {
	
	.project-logo {
		max-width: 100px;
		max-height: 100px;
	}
	
	.project-title {
		font-size: 2.25em;
	}
	
	.project-description {
		max-width: 365px;
	}
}

@media (min-width: 1500px) {
	
	.btn_github {
		left: -4em;
		font-size: 0.875em;
		
		svg {
			width: 16px;
			height: 16px;
		}
	}
}